.parent{
background:#000;
}
.child{
    padding: 15px;
}
.hero{
    background:#1A1A1A;
    /* color: #FFF; */
    width:75%;
    border-style:solid;
    border-radius: 7px;
    display: flex ;
    border-color:#444242;
    margin:auto;
}

.hero:hover{
    background: #1A1A1A;
    border-width: solid;
    border-color: rgb(206, 200, 200);
}

.vote{
    width:60px;
    padding-left:5px;
    color:#e0e4e7;
    font-size:14px ;
    font-weight: 500;
}
.up{
    padding-top:15px;
    padding-bottom:3px;
    padding-left:8px;
    color:white;
}
    .up:hover{
        color:#ff3333;
    }
.down{
    padding-top:3px;
    padding-left:8px;
    color:white;
}
    .down:hover{
        color:rgb(18, 123, 189);
    }

.top{
    display: flex ;
    color: #787d81;
    font-size: 12px;
    padding-top:12px;
}

.title{
    padding-top:10px;
    font-weight: 600 ;
    padding-right:5px;
    color:#fff;
    
}

.url{
    color: rgb(18, 123, 189);
    font-size:12px ;
    padding-top:5px;
    padding-bottom:12px ;
    white-space: nowrap;
    width: 200px;
    overflow :hidden;
    text-overflow: ellipsis;
    
}
.url:hover{
    text-decoration: underline;
}